# Зависимости
node_modules/

# Переменные окружения (содержат секреты)
.env
.env.local

# База данных
data.db
data_dev.db

# Логи
*.log
logs/

# Системные файлы
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
docs/node_modules
docs/.vitepress/cache
docs/.vitepress/dist
.claude/

client_secret_737259278981-2m9a0702ic3i09mhcrbm0jpmnb19tjap.apps.googleusercontent.com.json
